#text-input{
    height: 8em;
}
#title-app{
    color: white;
    font-weight: 800;
}
.container-img{
    margin: 1rem;
}
.container-img > img{
    height: 8em;
}
#custom-loading{
    background-color: #341f97;
    bottom:0px;
    display: none;
    left:0px;
    opacity:0.9;
    position: fixed;
    right: 0px;
    text-align: center;
    top:0px;
    vertical-align: middle;
    z-index: 10000;
}
